$font-main: 'Poppins', sans-serif;
$font-nanum: 'Nanum Gothic', sans-serif; 
$font-playfair: 'Playfair Display', serif;
$font-prata: 'Prata', serif;
$font-awesome: 'FontAwesome';

$color-red: #D82E2A;  
$color-blue: #0081E6; 
$color-green: #00B993;
$color-yellow: #fd8320; 
$color-black: #000;
$color-black2: #222;
$color-white: #fff;
$color-text: #727272;
$color-footer: #6e6e6e;
$color-title: #000;
$color-pink: #FF77A8;
$color-purple: #C580DC;
$color-section-background: #F6F6F6;

$size-font-main: 16px; 
$size-font-small: 14px;

$border: 1px solid #DDDDDD; 
$border-one: 1px solid #E2E2E2;
